@media screen and (max-width: 376px) {
  .dashboard {
    margin-top: 80px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
  .user {
    padding-bottom: 32px;
    /* min-height: max-content; */
    flex-direction: row;
  }
  .filter {
    flex-direction: row;
  }
}
