@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  /* font */
  --font-base: "Rubik", sans-serif;
  --size-base: 1.125em;

  /* colors */
  /* -- Primary -- */
  --Blue: hsl(246, 80%, 60%);
  --Light-orange: hsl(15, 100%, 70%);
  --Soft-blue: hsl(195, 74%, 62%);
  --Light-red: hsl(348, 100%, 68%);
  --Lime-green: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --Soft-orange: hsl(43, 84%, 65%);
  /* -- Neutral -- */
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Unsaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);

  /* border_radius */
  --border-radius: 17px;
  /* padding */
  --padding-block: 5rem;
  --padding-inline: 10rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-base);
  background-color: var(--Very-dark-blue);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: var(--padding-block) var(--padding-inline);

  /* transition: all 250ms; */
  /* overflow: hidden; */
}
@media screen and (max-width: 900px) {
  body {
    padding: calc(var(--padding-block) - 0rem)
      calc(var(--padding-inline) - 8rem);
  }
}

/* dashboard */
.dashboard {
  display: grid;
  min-width: 100%;
  height: auto;
  /* min-height: calc(100vh - (80px * 2)); */
  /* border: 0.5px var(--Light-red) solid; */
  grid-auto-rows: max-content;
  grid-template-columns: 1fr;
  /* justify-items: center; */

  gap: 30px;
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 545px) {
  .dashboard {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    /* grid-template-rows: 1fr 1fr; */
    /* min-height: 51.8rem; */
  }
}
@media screen and (min-width: 1556px) {
  .dashboard {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    /* grid-auto-rows: 1fr; */
    grid-template-rows: 1fr;
    /* grid-auto-flow: column; */
  }
}

.user__side {
  grid-column: span 1;
  grid-row: span 2;
  background-color: var(--Dark-blue);
  /* background-color: rgba(192, 180, 14, 0.558); */
  border-radius: 17px;
}
@media screen and (min-width: 1640px) {
  .user__side {
    grid-row: 1;
  }
}

.user {
  background-color: var(--Blue);
  padding-top: 35px;
  padding-right: 85px;
  padding-left: 35px;
  padding-bottom: 90px;
  display: flex;

  flex-direction: column; /* +row*/
  flex-wrap: nowrap;
  gap: 45px;
  /* 
   */
  border-radius: 17px;
}

@media screen and (max-width: 544px) {
  .user {
    flex-direction: row;
    padding-right: 0;
    padding-bottom: 35px;
    justify-content: start;
    gap: 20px;
  }
}

.user__avatar {
  /* aspect-ratio: 1/1; */
  min-width: 65px;
  max-width: 78px;
  border: 5px #fff solid;
  border-radius: 50%;
}
.user span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.text {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--Pale-Blue);
}
.user__name {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 300;
}
@media screen and (max-width: 544px) {
  .text {
    font-size: 0.7rem;
  }
  .user__name {
    font-size: 1.6rem;
  }
}

.filter {
  display: flex;
  flex-direction: column; /*+row*/
  justify-content: space-around;
  gap: 30px;
  padding-left: 35px;
  padding-right: 85px;
  padding-block: 30px;
}
@media screen and (max-width: 544px) {
  .filter {
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
  }
}
.filter__period {
  width: max-content;
  font-size: 1rem;
  color: var(--Unsaturated-blue);
}

.filter__period label {
  cursor: pointer;
}
.filter__period input {
  display: none;
}
.filter__period input:checked + label {
  color: azure;
}

.trackers__side {
  grid-column: span 3;
  grid-row: span 2;
  display: contents;
}
.tracker {
  height: 100%;
  outline: 1px #64646479;
  background: var(--Light-orange);
  border-radius: 17px 17px 19px 19px;
  /* width: 100%; */
  /* min-width: 257px; */
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tracker__icon {
  width: 100%;
  height: 45px;
  min-height: 37px;
  display: flex;
  justify-content: end;
  position: relative;
  overflow: hidden;
}

.tracker__icon img {
  position: absolute;
  top: -10px;
  padding-right: 30px;
}
.tracker__time {
  background-color: var(--Dark-blue);
  border-radius: 17px;
  height: calc(100% - 45px);
  min-height: calc(100% - 37px);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 30px;
  padding-top: 32px;
  padding-bottom: 36px;
  gap: 40px; /*mobile*/
}
.tracker__time:hover {
  background-color: hsl(236, 41%, 34%);
  cursor: pointer;
}
.tracker__time:has(.tracker__more:hover) {
  background-color: var(--Dark-blue);
}
.tracker__more:hover svg path {
  fill: #fff;
}
.tracker__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tracker__activity {
  font-weight: 500;
}
.tracker__body {
  display: flex;
  flex-direction: column; /*row*/
  justify-content: space-between;
  height: 100%;
  /* background: red; */
}
.tracker__hours {
  font-size: 3.25rem;
  font-weight: 300;
}
.tracker__last {
  font-size: 0.875rem;

  color: var(--Pale-Blue);
}
.tracker__last span {
  text-transform: capitalize;
}

/* attribution */
.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  background: #64646479;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
