:root {
  /* font */
  --font-base: "Rubik", sans-serif;
  --size-base: 1.125em;

  /* colors */
  /* -- Primary -- */
  --Blue: hsl(246, 80%, 60%);
  --Light-orange: hsl(15, 100%, 70%);
  --Soft-blue: hsl(195, 74%, 62%);
  --Light-red: hsl(348, 100%, 68%);
  --Lime-green: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --Soft-orange: hsl(43, 84%, 65%);
  /* -- Neutral -- */
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Unsaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);

  /* border_radius */
  --border-radius: 17px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  background-color: var(--Very-dark-blue);
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

/* dashboard */
.dashboard {
  display: grid;
  width: 77.11%;
  min-height: 80vh;
  border: 0.5px var(--Light-red) solid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 27px;
  color: rgb(255, 255, 255);
}

.user__side {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: var(--Dark-blue);
  border-radius: 17px;
  /* min-width: 70%; */
}
.user {
  display: flex;
  flex-direction: column; /* +row*/
  flex-wrap: nowrap;
  gap: 45px;
  background-color: var(--Blue);
  padding-top: 35px;
  padding-left: 35px;
  border-radius: 17px;
  min-height: 65%;
}
.user__avatar {
  min-width: 65px;
  width: 78px;
  border: 5px #fff solid;
  border-radius: 50%;
}
.user span {
  display: flex;
  flex-direction: column;
  /* gap: 13px; */
}
.text {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--Pale-Blue);
}
.user__name {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 300;
}

.filter {
  display: flex;
  flex-direction: column; /*+row*/
  justify-content: space-evenly;
  min-height: 35%;
  padding-left: 35px;
}
.filter__period {
  font-size: 1rem;
  cursor: pointer;
  color: var(--Unsaturated-blue);
}
.filter__period input {
  display: none;
}
.filter__period input:checked + label {
  color: azure;
}

.trackers__side {
  grid-column: 2/5;
  grid-row: 1/3;
  display: contents;
}
.tracker {
  border-radius: 17px 17px 19px 19px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--Light-orange);
}

.tracker__icon {
  width: 100%;
  display: flex;
  justify-content: end;
  height: 45px;
  min-height: 37px;
  position: relative;
  overflow: hidden;
}
.tracker__icon img {
  position: absolute;
  top: -10px;
  padding-right: 30px;
  width: 110px;
}
.tracker__time {
  background-color: var(--Dark-blue);
  border-radius: 17px;
  height: calc(100% - 45px);
  min-height: calc(100% - 37px);
  display: flex;
  flex-direction: column;
  padding: 32px 30px 36px 30px;
  gap: 40px; /*mobile*/
}
.tracker__time:hover {
  background-color: hsl(236, 41%, 34%);
  cursor: pointer;
}
.tracker__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tracker__activity {
  font-weight: 500;
}
.tracker__body {
  display: flex;
  flex-direction: column; /*row*/
  justify-content: space-between;
  height: 100%;
  /* background: red; */
}
.tracker__hours {
  font-size: 3.25rem;
  font-weight: 300;
}
.tracker__last {
  font-size: 0.875rem;

  color: var(--Pale-Blue);
}

/* attribution */
.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

  background: #64646479;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
